<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762130856186-f6dg5516m6q3vhn0maqfr9gi1jm45hg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762130856186-f6dg5516m6q3vhn0maqfr9gi1jm45hg5</string>
	<key>API_KEY</key>
	<string>AIzaSyD5FTASBeSxzU6RLl9M4I8HbKnLSqNeusI</string>
	<key>GCM_SENDER_ID</key>
	<string>762130856186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cenkbahadircark.E-CommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerceapp-e61d2</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerceapp-e61d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762130856186:ios:4eff3a5189db95bbf3b143</string>
</dict>
</plist>